doctype
html(lang='en')
	include includes/_head
		
	body
		include includes/_aside
		main#content-wrapper
			header
				include includes/_nav
			
			section#content
				.container-fluid
					.row
						.col-md-4
							.card.event-card
								.event-image
									img.img-responsive(src="img/events/1.jpg", alt="")
									.date-data
										.date-requested
											.event-date
												p
													| Event Date
													span
														i.material-icons event_note
														| 25 Jan, 2016
										.date-event
											.event-date
												p
													| Requested
													span
														i.material-icons event_note
														| 25 Jan, 2016
								.event-info
									
									.info-box
										span.cpd 25
										
										.event-details
											h3 Hospitality Event
											h4 NewZealand
						.col-md-4
							.card.event-card
								.event-image
									img.img-responsive(src="img/events/2.jpg", alt="")
									.date-data
										.date-requested
											.event-date
												p
													| Event Date
													span
														i.material-icons event_note
														| 25 Jan, 2016
										.date-event
											.event-date
												p
													| Requested
													span
														i.material-icons event_note
														| 25 Jan, 2016
								.event-info
									
									.info-box
										span.cpd 25
										
										.event-details
											h3 Art Event
											h4 NewZealand
						.col-md-4
							.card.event-card
								.event-image
									img.img-responsive(src="img/events/3.jpg", alt="")
									.date-data
										.date-requested
											.event-date
												p
													| Event Date
													span
														i.material-icons event_note
														| 25 Jan, 2016
										.date-event
											.event-date
												p
													| Requested
													span
														i.material-icons event_note
														| 25 Jan, 2016
								.event-info
									
									.info-box
										span.cpd 14
										
										.event-details
											h3 Photography Competition
											h4 NewZealand						
						.col-md-4
							.card.event-card
								.event-image
									img.img-responsive(src="img/events/4.jpg", alt="")
									.date-data
										.date-requested
											.event-date
												p
													| Event Date
													span
														i.material-icons event_note
														| 25 Jan, 2016
										.date-event
											.event-date
												p
													| Requested
													span
														i.material-icons event_note
														| 25 Jan, 2016
								.event-info
									
									.info-box
										span.cpd 33
										
										.event-details
											h3 Hackathon
											h4 Auckland
						.col-md-4
							.card.event-card
								.event-image
									img.img-responsive(src="img/events/5.jpg", alt="")
									.date-data
										.date-requested
											.event-date
												p
													| Event Date
													span
														i.material-icons event_note
														| 25 Jan, 2016
										.date-event
											.event-date
												p
													| Requested
													span
														i.material-icons event_note
														| 25 Jan, 2016
								.event-info
									
									.info-box
										span.cpd 25
										
										.event-details
											h3 News Reading 
											h4 NewZealand
						.col-md-4
							.card.event-card
								.event-image
									img.img-responsive(src="img/events/6.jpg", alt="")
									.date-data
										.date-requested
											.event-date
												p
													| Event Date
													span
														i.material-icons event_note
														| 25 Jan, 2016
										.date-event
											.event-date
												p
													| Requested
													span
														i.material-icons event_note
														| 25 Jan, 2016
								.event-info
									
									.info-box
										span.cpd 78
										
										.event-details
											h3 Application Developers Gathering
											h4 NewZealand	
						.col-md-4
							.card.event-card
								.event-image
									img.img-responsive(src="img/events/8.jpg", alt="")
									.date-data
										.date-requested
											.event-date
												p
													| Event Date
													span
														i.material-icons event_note
														| 25 Jan, 2016
										.date-event
											.event-date
												p
													| Requested
													span
														i.material-icons event_note
														| 25 Jan, 2016
								.event-info
									
									.info-box
										span.cpd 45
										
										.event-details
											h3 Room Decoration 
											h4 NewZealand		
						.col-md-4
							.card.event-card
								.event-image
									img.img-responsive(src="img/events/9.jpg", alt="")
									.date-data
										.date-requested
											.event-date
												p
													| Event Date
													span
														i.material-icons event_note
														| 25 Jan, 2016
										.date-event
											.event-date
												p
													| Requested
													span
														i.material-icons event_note
														| 25 Jan, 2016
								.event-info
									
									.info-box
										span.cpd 14
										
										.event-details
											h3 Art & Graphics
											h4 NewZealand							
		
		include includes/_create-event-modal
		include includes/_event-details-modal
		include includes/_scripts




