doctype
html(lang='en')
	include includes/_head
		
	body
		include includes/_aside
		main#content-wrapper
			header
				include includes/_nav
			
			section#content
				.container-fluid
					.container-fluid
						.row
							
							.col-md-12
								.card
									.content
										form(action="")
											.row
												.col-md-12
													.form-group
														.input-group
															span.input-group-addon
																i.material-icons add_a_photo
															input#inputFile3(type='file', multiple='')
															input.form-control(type='text', readonly='', placeholder='Event Image')
															span.material-icons.form-control-feedback clear
													.form-group
														.input-group
															span.input-group-addon
																i.material-icons description
															input.form-control(type='text', placeholder='Event Name')
															span.material-icons.form-control-feedback clear
													.form-group
														.input-group
															span.input-group-addon
																i.material-icons event
															select(name="").form-control
																option(value="") Select Event Category
																option(value="") Private
																option(value="") Public
															span.material-icons.form-control-feedback clear	
													.form-group
														.input-group
															span.input-group-addon
																i.material-icons event
															select(name="").form-control
																option(value="") Select Event type
																option(value="") Type 1
																option(value="") Type 2
																option(value="") Type 3
																option(value="") Type 4
																option(value="") Type 5
																option(value="") Type 6
																option(value="") Type 7
															span.material-icons.form-control-feedback clear	
													.form-group
														.input-group
															span.input-group-addon
																i.material-icons location_on
															input.form-control(type='text', placeholder='Location')
															span.material-icons.form-control-feedback clear
													.form-group
														.input-group
															span.input-group-addon
																i.material-icons date_range
															input.form-control.datepicker(type='text', placeholder='Event Date')
															span.material-icons.form-control-feedback clear
													.form-group
														.input-group
															span.input-group-addon
																i.material-icons star
															input.form-control(type='text', placeholder='CPD Points')
															span.material-icons.form-control-feedback clear
													.form-group
														.input-group
															span.input-group-addon
																i.material-icons supervisor_account
															input.form-control(type='text', placeholder='Estimated Guests')
															span.material-icons.form-control-feedback clear
													.form-group
														.input-group
															span.input-group-addon
																i.material-icons laptop_chromebook
															input.form-control(type='text', placeholder='Web URL')
															span.material-icons.form-control-feedback clear
													
													.row
														.col-md-6
															.form-group
																.input-group
																	span.input-group-addon
																		i.material-icons access_time
																	input.form-control(type='text', placeholder='Start Time')
																	span.material-icons.form-control-feedback clear
														.col-md-6
															.form-group
																.input-group
																	span.input-group-addon
																		i.material-icons access_time
																	input.form-control(type='text', placeholder='End Time')
																	span.material-icons.form-control-feedback clear
													.form-group
														.input-group
															span.input-group-addon
																i.material-icons assignment
															textarea.form-control(name="", cols="30", rows="10" placeholder='Event Description')
															span.material-icons.form-control-feedback clear

													.footer.text-center
														button(type='submit').btn.btn-primary.btn-block.text-center.btn-raised.btn-lg Save
							
										
					
		

		include includes/_scripts




